*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}
html{
margin: 0;
padding: 0;
background-color: #dedede;
scroll-behavior: smooth;
}
body{
margin: 0;
padding: 0;

}
.layar-dalam{
width:  1000px;
margin: auto;
}

.tombol-menu {
position: absolute;
top: 1.7rem;
right: 1rem;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 20px;
}
.tombol-menu .garis{
height: 3px;
background-color: #fff;
}
nav {
    color : #fff;
    text-align: center;
    position: absolute;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    background-color: #fff;
    padding: 0;
    z-index: 2;
}
nav .tombol-menu .garis{
    background-color: #333;
}
nav ul li a{
    color: #333;
}
nav .logo{
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img{
    vertical-align: middle;
    width: 120px;
}
nav .logo img.hitam{
    display: block;
}

nav .menu{
    float: right;
    height: 60px;
    max-width: 100%;
}

nav .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li{
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a{
    color: #333;
    text-align: center;
    padding: 0 12px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}
.tampilan{
    background-color: rgb(102, 102, 102);
}
.posisi{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20vh;
    left: 20px;
}
.card{
    width: 300px;
    margin:50px 20px;
    padding: 10px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 5px;
    background-color: #fff;
}

.img-card{
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}
.img{
    width: 100%;
}
.harga{
    color: blueviolet;
}
.user{
    color: gray;
}
.btn-block{
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.btn-block:hover a{
    background-color: white;
    color: blueviolet;
}
.btn-block:hover{
    background-color: white;
    color: blueviolet;
    border-style: solid;
    transition: 0.3s;
}
.btn-order{
    color: white;
    text-decoration: none;
    
}

@media screen and (max-width: 991.98px) {
    .layar-dalam {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
    }
    nav .menu ul li a {
        color: #333;
    }

    .tombol-menu{
        display: flex;
    }
}